<% layout('layout/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row w-100">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <div class="card-body">

                    <h5 class="card-title">Register</h5>

                    <form action="/register" class="validated-form" method="POST" novalidate>

                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" id="username" class="form-control" name="username" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" class="form-control" name="email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" class="form-control" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    
                        <button class="btn btn-success w-100">Register</button>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

